body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0e0963;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #0e0963;
}

.product-card {
    border-style: solid;
    border-width: 1px;
    border-color: #373a38;
    border-radius: 8px;
    box-shadow: #0e0963 0px 4px 8px 0px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.04);
    box-shadow: rgba(14, 9, 99, 0.2) 0px 8px 16px 0px;
}

.product-card input {
    caret-color: #2c2857;
}
.product-card img {
    width: 200px;
    height: auto;
    text-align: center;
    background-color: black;
}
.featured {
    border-color: #1a1a1a;
}
.standard {
    color:#6fe693
}
h1 {
    text-align: center;
    color: #0e0963;
}
h3 {
    color: #0e0963;
    text-align: center;
}
body {
    background-color: rgba(125, 132, 144, 0.8);
}